body {
	background-color: hotpink;
}

#my_name {
	text-align: center;
}

p {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.portfolio_images {
	height: 300px;
	margin: 0 15px;
}

#main_photo {
	margin:0 auto;
	display:block;
	width: 200px;
}
